.project {
  position: relative;
  background-color: var(--white);
  padding-bottom: 50vh;

  h1 {
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--blue);
    z-index: var(--z-title);
  }

  section.text {
    padding: var(--outer-margin);
  }
}
