.project {
  position: relative;
  background-color: var(--white);
  padding-bottom: 10vh;

  h1 {
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--blue);
    z-index: var(--z-title);
  }

  section.text {
    padding: var(--outer-margin);
    //display: flex;
    .desc {
      width: 100%;
      columns: 2;
      column-gap: var(--outer-margin);
    }

    .meta {
      //width: 100%;
      padding-top: var(--outer-margin);
      padding-bottom: var(--outer-margin);
      td {
        width: auto;
        padding-right: 1rem;
      }
    }
  }
}
