.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh);
	width: 100%;
	flex-direction: column;
	cursor: default !important;
	background-color: var(--white);

	* {
		color: var(--blue);
		cursor: default !important;
	}
}
