.about {
  color: var(--white);
  background-color: var(--blue);
  padding: var(--outer-margin);
  padding-left: calc(2 * var(--outer-margin));
  padding-right: calc(2 * var(--outer-margin));

  &.modal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--z-about);
    height: 100vh;
    overflow-y: scroll;
    width: var(--about-width);
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .content {
    width: 100%;

    .logo {
      max-width: 100%;
      width: var(--logo-size);
      margin-bottom: var(--outer-margin);
    }

    .address {
      padding-bottom: var(--outer-margin);
    }

    figure {
      margin-bottom: var(--outer-margin);
    }

    p {
      color: var(--white);
      width: 75%;
    }

    h3 {
      padding-top: 1rem;
    }
  }

  &.open {
    transform: translateX(0);
  }
}
