.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: none;
  pointer-events: none;
  z-index: 100000;
  opacity: 0;

  &.init {
    transition: left 0.6s ease-out, top 0.6s ease-out;
    opacity: 1;
  }

  &.ready {
    transition: none;
    opacity: 1;
  }
}