.cursor {
	--transition-time: 200ms;
	--transition-easin: cubic-bezier(0.25, 1.13, 1, 0.64);
	position: fixed;
	top: -100;
	left: -100;
	width: 20px;
	height: 20px;
	cursor: none;
	pointer-events: none;
	z-index: 100000;
	opacity: 0;

	&.init {
		transition:
			left var(--transition-time) var(--transition-easing),
			top var(--transition-time) var(--transition-easing);
		transition-duration: var(--transition-time);
		opacity: 1;
	}

	&.ready {
		transition: none !important;
		transition-duration: 0 !important;
		opacity: 1;
	}

	&.hidden {
		opacity: 0;
	}
	@include mq($until: desktop) {
		display: none;
	}
}
