.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  @include mq($from: desktop) {
    cursor: none;
  }

  .logo {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    height: var(--logo-size);

    &.hidden {
      opacity: 0;
    }
  }
}

.f,
.p {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: var(--z-symbols);
  transform-origin: center center;
  transition: opacity 0.2s ease-in-out;
}

.f {
  width: 2.15vw;

  @include mq($until: desktop) {
    width: 2.6vw;
  }
}

.p {
  width: 2.47vw;

  @include mq($until: desktop) {
    width: 3.1vw;
  }
}