.navbar {
	position: fixed;
	top: 0;
	right: 0;
	margin: var(--nav-margin);
	margin-top: var(--nav-margin-top);
	z-index: var(--z-navbar);
	cursor: pointer;

	&.inactive {
		pointer-events: none;
		display: none;

		.icon {
			pointer-events: none;
		}
	}

	&.invert {
		.icon {
			filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(2078%) hue-rotate(323deg)
				brightness(110%) contrast(105%);
		}
	}

	.button {
		all: unset;
		position: absolute;
		display: flex;
		flex-direction: row;
		top: 0;
		right: 0;
		z-index: 2;
		transition: transform 0.2s opacity 0.2s;
		transition-timing-function: cubic-bezier(0.94, 0.08, 0.76, 0.23);

		&.intro {
			opacity: 0;
			pointer-events: none;
		}

		.icon {
			display: inline;
			height: calc(3.75vw * 2);

			&:first-child {
				margin-right: 0.4rem;
			}

			@include mq($from: desktop) {
				height: 3.75vw;
				&:first-child {
					margin-right: 0.7rem;
				}
			}
		}
	}

	.close {
		transition: opacity 0.2s linear;
		opacity: 0;
	}

	.menu {
		transform: rotateY(0deg);
		transition-delay: 0.15s;
	}

	&.closed {
		.close {
			transition: opacity 0.2s linear;
			opacity: 1;
		}

		.menu {
			transform: rotateY(90deg);
			transition-delay: 0s;
		}
	}
}

.tooltip {
	position: fixed;
	top: 0;
	right: 8rem;
	margin: var(--nav-margin);
	margin-top: var(--nav-margin-top);
	z-index: var(--z-navbar);
	padding: 0;
	opacity: 0;
	white-space: nowrap;
	color: var(--black);
	z-index: var(--z-navbar);
	pointer-events: none;

	&.show {
		opacity: 1;
	}
}

.hidden {
	display: none;
}
.status {
	position: fixed;
	top: 0;
	left: 0;
	background-color: pink;
	z-index: 100000;
	color: var(--black);
}
