.navbar {
  position: fixed;

  top: 0.1rem;
  right: 0;
  margin: var(--outer-margin);
  z-index: var(--z-navbar);
  cursor: pointer;

  img {
    height: 4.3vw;
  }

  &.inactive {
    pointer-events: none;

    img {
      pointer-events: none;
    }
  }

  &.invert {
    img {
      filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(2078%) hue-rotate(323deg) brightness(110%) contrast(105%);
    }
  }

  img {
    position: absolute;
    top: 0;
    left: -100px;
    transition: transform 0.2s ease-in-out;
    width: 100px;
  }

  .close {
    transform: rotateY(90deg);
  }

  .menu {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

  &.closed {
    .close {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
    }

    .menu {
      transform: rotateY(90deg);
      transition-delay: 0s;

    }
  }
}