.navbar {
  position: fixed;
  top: 0.1rem;
  right: 0;
  margin: var(--outer-margin);
  z-index: var(--z-navbar);
  cursor: pointer;

  img {
    height: 4.3vw;
  }

  &.close {
    transform: rotate(-45deg);
  }
  &.invert {
    img {
      filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(2078%) hue-rotate(323deg) brightness(110%)
        contrast(105%);
    }
  }

  img {
    display: none;
    width: 100px;

    &.show {
      display: inline;
    }
  }
}
