.lenis {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clone {
  height: 100vh;
  overflow: hidden;
}

.projects {
  background-color: var(--white);
  width: 100%;
  height: 100vh;

  .project {
    padding: var(--outer-margin);
  }

  a {
    pointer-events: none;

    >div {
      background-color: var(--blue) !important;
    }

    img {
      transition: opacity 0.3s ease-out;
      opacity: 0.3 !important;
    }
  }

  &.ready {
    overflow-y: scroll;

    a {
      pointer-events: all;

      img {
        opacity: 1 !important;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}