:root {
	--black: #161616;
	--white: #fffceb;
	--red: #bf0000;
	--blue: #0026ff;
	--background: var(--blue);
	--foreground: var(--white);

	--line-height: 1.2;
	--outer-margin: 2rem;
	--about-width: 80vw;
	--logo-size: 52vw;

	--z-modal: 100;
	--z-title: 200;
	--z-about: 250;
	--z-navbar: 300;

	--z-logo: 1000;

	@include mq($until: desktop) {}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--blue);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
}

html {
	box-sizing: border-box;
}

main {
	position: relative;
	min-height: 100vh;
	transition: transform 0.3s ease-in-out;

	&.slided {
		transform: translateX(calc(-1 * var(--about-width)));
	}
}

p a {
	text-decoration: underline !important;
	text-decoration-thickness: 1px !important;
	text-underline-offset: 0.2em;
}

button {
	border: 0;

	@include mq($from: desktop) {
		&:hover {}
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

a {
	text-decoration: none;
	color: var(--foreground);
	transition: color 0.3s ease-in-out;

	@include mq($from: desktop) {
		&:hover {
			color: var(--orange);
			border-color: var(--black) !important;
		}
	}

	&:active {
		color: var(--orange);
	}
}

input,
textarea,
select {
	width: 100%;
	border: 1px solid var(--black);
	margin-bottom: 1rem;
	padding: 0.5em;
	padding-left: 0.75em;
	font-family: $nav-font;
	background-color: var(--background);

	&:focus {}

	&::placeholder {
		color: var(--orange);
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--white);
}

::-webkit-scrollbar:vertical {
	width: 0px;
}

::-webkit-scrollbar:horizontal {
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: var(--white);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

figure div {
	max-width: none !important;
}

* {
	cursor: url("/images/cursor.png") 16 16, auto;
}

.cursor-white {

	cursor: url("/images/cursor-white.png") 16 16, auto !important;

	* {
		cursor: url("/images/cursor-white.png") 16 16, auto !important;
	}
}