$body-font: "Maison", Times, Serif;
$headline-font: "Maison", Helvetica, Sans-Serif;
$nav-font: "GCourier", Times, Serif;
@font-face {
  font-family: "Maison";
  src: url("/fonts/MaisonNeueWEB-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
