html,
body,
h1,
h2,
p,
nav,
ul {
  font-size: 14px;
  font-weight: normal;
  line-height: var(--line-height);
  font-family: $body-font, Arial, Helvetica, sans-serif !important;

  @include mq($from: tablet) {
    font-size: 16px;
  }

  @include mq($from: wide) {
    font-size: 18px;
  }
  @include mq($from: very-wide) {
    font-size: 26px;
  }

  color: var(--blue);
}

h1,
h2 {
  font-size: 7vw;
  letter-spacing: -0.01em;
  @include mq($from: desktop) {
    font-size: 5vw;
  }
  font-weight: bold;
}

h2,
p.intro {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.01em;

  @include mq($from: desktop) {
    font-size: 3rem;
  }
}

h3,
h4 {
  font-size: 0.95rem;
  font-family: $mono-font;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h3 {
  padding-bottom: 0.45rem;
}

h4 {
  //display: inline;
  font-size: 0.85rem;
}

p {
  line-height: var(--line-height);
  margin-bottom: 1.4rem;

  strong {
    font-family: $headline-font;
  }
}

p.big,
.big p {
  font-size: 1.2rem;
  font-weight: lighter;
}

strong {
  font-weight: normal;
}
