.mediaRow {
  display: flex;
  justify-content: space-between;
  @include mq($until: desktop) {
    flex-wrap: wrap;
  }

  &:not(:first-of-type) {
    padding: var(--outer-margin);
    padding-bottom: 0;
  }

  figure,
  video {
    width: 100%;

    .single {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
        //object-fit: cover;
      }
    }

    &.multi {
      @include mq($from: desktop) {
        width: calc(50% - (var(--outer-margin) / 2));
      }
      @include mq($until: desktop) {
        &:first-of-type {
          margin-bottom: var(--outer-margin);
        }
      }
    }
  }
}
