.staff {
  margin-top: calc(0.25 * var(--outer-margin));
  display: grid;
  list-style: none;
  color: var(--white);
  margin-bottom: var(--outer-margin);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: var(--outer-margin);

  width: 100%;

  li {
    grid-column: span 1;

    figure {
      margin-bottom: 1rem !important;
    }
  }
}
