.staff {
  margin-top: var(--outer-margin);
  display: flex;
  flex-direction: row;
  list-style: none;
  color: var(--white);
  margin-bottom: var(--outer-margin);

  li {
    flex: 0 0 auto;
    width: 25%;

    figure {
      margin-bottom: 1rem !important;
    }
  }
}
